@font-face {
  font-family: "Albert Sans";
  src: url("../fonts/AlbertSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 400; /* 100–900 */
  font-style: normal; /* oder italic */
  font-display: swap; /* schneller Text-Render */
  /* optional: nur benötigte Zeichen laden */
  unicode-range: U+000-05FF;
}
html {
  font-size: clamp(0.4rem, 2vw, 4rem);
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  font-family: "Albert Sans", sans-serif;
  color: #000;
  width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
strong {
  margin: 0;
  z-index: 5;
  font-weight: 900;
  -webkit-text-stroke: .5px ;
  text-stroke: 1px ;
}
h1 {
  font-weight: 900;
  /* display: inline; */
}
a {
  text-decoration: none;
  z-index: 999;
}
footer a:hover {
  text-decoration: underline;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main > section {
  aspect-ratio: 1728/997;
  width: 100vw;
  /* height: min(100vh, 80vmin); */
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: row;
  z-index: 5;
  /* min-height: 26rem; */
  overflow: hidden;
}
main > section > div {
  z-index: 2;
}
@keyframes gradientFloatLeft {
  0% {
    transform: translate(-50%, 0) scale(1);
  }
  50% {
    transform: translate(0%, -0%) scale(1);
  }
  100% {
    transform: translate(-50%, 0) scale(1);
  }
}
@keyframes gradientFloatRight {
  0% {
    transform: translate(-10%, 0%) scale(1);
  }
  50% {
    transform: translate(-50%, 5%) scale(1.1);
  }
  100% {
    transform: translate(-10%, 0%) scale(1);
  }
}

main > section:nth-of-type(1),
main > section:nth-of-type(5)  {
  background-color: #fff;
  align-content: center;
  flex-direction: column;
  align-items: inherit;
  max-width: 100vw;
  position: relative;
}

main > section::before,
main > section::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  /* right: 0; */
  /* bottom: 0; */
  z-index: 0;
  width: 200%;
  height: 200%;
  will-change: transform;
  transition: transform 0.3s ease-out;
}

main > section:nth-of-type(1)::before,main > section:nth-of-type(5)::before {
  animation: gradientFloatLeft 23s ease-in-out infinite;
  background: radial-gradient(circle 68dvmin at 50% 50%, #5739ff -31%, transparent 100%);
}

main > section:nth-of-type(1)::after,main > section:nth-of-type(5)::after {
  animation: gradientFloatRight 23s ease-in-out infinite;
  background: radial-gradient(circle 61dvmin at 50% 50%, #00beff85  25%, transparent 100%);
}
main > section:nth-of-type(5)::after,main > section:nth-of-type(5)::before {
  top: -100%;
}
main > section:nth-of-type(1) > div,main > section:nth-of-type(5) > div {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* height: 3em; */
  /* padding-left: 10%; */
  box-sizing: border-box;
  margin: 4rem 0;
  width: 24rem;
  font-size: 3rem;
  z-index: 2;
  /* align-content: center; */
  position: relative;
  padding: 0;
}
main > section:nth-of-type(5) > p,main > section:nth-of-type(5) > h2 {
  z-index: 2;
}
main > section:nth-of-type(5) > h2 {
  font-size: 2rem;
  font-weight: 900;
}
main > section:nth-of-type(5) > * {
  width: 24rem;
}
.right{

  font-size: 1.7vw;
}
.different {
  position: relative;
  top: 5.5rem;
  bottom: 0rem;
  left: calc(7% - -6.5rem); /* transform: translate(-50%, -50%); */
  height: 4rem; /* width: 16rem; */ /* font-size: 4rem; */ /* font-weight: 900; */ /* z-index: 2; */
  overflow: visible;
  padding: 0;
}
main > section:nth-of-type(1) > div:first-of-type {
  /* margin-top: 11dvh; */
  font-size: 4rem;
  overflow: visible;
}
.different svg text {
  letter-spacing: 0.5em;
}
main > section:nth-of-type(1) > div > h1 {
  font-size: 1em;
  /* font-size: inherit; */
  text-align: left;
  /* width: 4em; */
  /* margin: auto; */
  /* left: calc( 50% - 7rem ); */
  position: absolute;
  font-weight: normal;
}
.peerlink {
  position: fixed;
  top: 0em;
  left: 0;
  /* left: calc((100vw - (min(min(100vh, 80vmin) * 1728 / 997, 100vw))) / 2); */
  height: 3rem;
  width: 100vw;
  /* width: calc(min(min(100vh, 80vmin) * 1728 / 997, 100vw)); */
  background-color: #ffffff3d;
  z-index: 10;
  -webkit-backdrop-filter: blur(5px) saturate(150%);
  backdrop-filter: blur(5px) saturate(185%);
}
.peerlink + a {
  position: fixed;
  top: 0em;
  /* left: calc((100vw - (min(min(100vh, 80vmin) * 1728 / 997, 100vw))) / 2); */
  left: -1rem;
  height: 3rem;
  width: calc(min(100vh, 80vmin) * 1728 / 997);
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  z-index: 153;
}
.peerlink + a > img, .peerlinkfooter > img {
  height: 1.3rem;
  aspect-ratio: 1/1;
  width: auto;
  z-index: 10;
  padding-left: 2em;
}
 .peerlinkfooter > img {
transition: all 0.3s ease;
  filter: grayscale(1) brightness(2);
 }
 .peerlinkfooter:hover img {
   filter: grayscale(0) brightness(1);
 }
.peerlink + a > img + span,.peerlinkfooter > img + span {
  z-index: 10;
  font-size: 1rem;
  font-weight: 700;
  margin: -0.1rem 0 0 3.2rem;
}

  
main > .swapBG {
  color: #fff;
}
main > .swapBG {
  display: grid;
  grid-template-columns: 55vw 45vw;
  padding: 0vh 10vw;
}
main > .swapBG::before {
  animation: fadeA 20s 0s infinite;
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  will-change: opacity;
  width: 100%;
  height: 100%;
}
main > .swapBG::after {
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  will-change: opacity;
  animation: fadeB 20s 0s infinite;
  width: 100%;
  height: 100%;
}
.discover::before{
background-image: url("../img/bg2-1.png");
}
.discover::after{
background-image: url("../img/bg2-2.png");
}
.welcome::before{
background-image: url("../img/bg3-1.png");
}
.welcome::after{
background-image: url("../img/bg3-2.png");
}

main > section:nth-of-type(3) {
  background-color: #5d31ff;
}
main > section:nth-of-type(4) {
  background-color: #323232;
  color: #fff;
}
@keyframes gradientDiagonalLeft {
  0% {
    transform: translate(-20%, 10%) scale(1);
  }
  50% {
    transform: translate(0%, -20%) scale(1);
  }
  100% {
    transform: translate(-20%, 10%) scale(1);
  }
}
@keyframes gradientDiagonalRight {
  0% {
    transform: translate(-0%, -20%) scale(1);
  }
  50% {
    transform: translate(-20%, -10%) scale(1);
  }
  100% {
    transform: translate(-0%, -20%) scale(1);
  }
}
@keyframes fadeA {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeB {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
main > section:nth-of-type(4)::before {
  animation: fadeA 30s linear infinite;
  background: radial-gradient(circle 60dvw at 50% 50%, rgba(91, 121, 162, 0.732) 0%, rgba(0, 106, 255, 0.8) 20%, rgba(0, 106, 255, 0.4) 70%, transparent 100%), linear-gradient(90deg, rgba(255, 255, 255, 0.35) -70%, transparent 16%);
  left: 0%;
  top: 0%;
  display: block;
  /* box-shadow: inset 0 0 10px 400px rgba(177, 177, 177, 0.246); */
  filter: blur(200%);
  /* border-radius: 20%; */
}
main > section:nth-of-type(4)::after {
  animation: fadeB 30s linear infinite;
  background: radial-gradient(circle 50vw at 50% 40%, rgba(91, 121, 162, 0.732) 0%, rgba(0, 106, 255, 0.8) 0%, rgba(0, 106, 255, 0.4) 70%, transparent 100%), linear-gradient(-90deg, rgba(255, 255, 255, 0.645) -20%, transparent 10%);
  left: -100%;
  top: -67%;
}

main > .swapBG > div:nth-of-type(1),
main > section:nth-of-type(3) > div:nth-of-type(1) {
  font-size: 1.5rem;
  padding: 20% 2rem;
}
main > .swapBG > div:nth-of-type(2) {
  padding: 49% 1rem 0 0;
  font-size: 1.9vw;
}

.apps {
  display: flex;
  flex-direction: row !important;
  gap: 1rem;
  margin-top: 2rem;
}
.apps span {
  display: flex;
  align-items: center;
  font-size: 0.65rem;
  /* font-weight: 500; */
  color: #fff;
  background-color: #000;
  height: 2em;
  border-radius: 2em;
  width: 8em;
  padding: 0.3em 2em;
  justify-content: center;
  border: 1px solid transparent;
}
.apps img {
  height: 1.1em;
  aspect-ratio: 1/1;
  width: auto;
  /* border-radius: 12px; */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  margin-right: 1em;
}
.apps span:hover {
  background-color: #333;
  cursor: pointer;
  background-color: #ffffff50;
  color: #000;
  border: 1px solid #000;
  transition: all 0.3s ease;
}
.apps span:hover img {
  filter: invert(1);
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 900;
  -webkit-text-stroke: 1px ; /* Kontur (Chrome/Safari/Edge) */
  text-stroke: 1px ; /* zukünftige / experimentelle Syntax */
}
.slide-indicators {
  display: flex;
  flex-direction: column;
  z-index: 10;
  /* gap: 1dvh; */
  /* justify-content: center; */
}

.slide-indicators p {
  color: #fff;
  cursor: pointer;
  position: relative;
  padding: 0rem 1rem;
  transition: all 0.3s ease;
  opacity: 0.6;
  margin: 0.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -ms-touch-action: none;
  touch-action: none;
  outline: none;
}

/* .slide-indicators p::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease;
} */

.slide-indicators p.active {
  opacity: 1;
  transform: scale(1.05);
}

.slide-indicators p.active::after {
  width: 100%;
}
.absolute {
  position: absolute;
}
.howpeerworks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.howpeerworks .handyContainer {
  display: flex;
  align-items: center;
  
}
.handy {
  display: flex;
  flex-direction: row;
  height: calc( 0.4 * 100vw);
  /* height: 60dvh; */
  /* margin-top: 10dvh; */
  overflow: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE und Edge */
  aspect-ratio: 1 / 2.161016949152542;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border: 2px solid #eee;
  border-radius: 1rem;
  z-index: 10;
}
.handy::-webkit-scrollbar {
  display: none; /* Chrome, Safari und Opera */
}
.handy img {
  height: 100%;
  aspect-ratio: 1 / 2.161016949152542;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
@media (width < 40em) {
  /* main > .discover {
    flex-direction: column;
  }
  main > .discover > div:nth-of-type(1) {
    width: 100%;
  } */
  /* h1,
  h2,
  strong {
    font-size: 2rem;
    text-align: center;
    width: 100%;
    display: block;
  } */
  .howpeerworks {
    flex-direction: column;
  }
}

/* footer */
.peerlinkfooter{
  position: absolute;
  top: unset;
  left: unset;color: #fff;
  margin-left: 1vw;
}
.peerlinkfooter > img + span {
  margin: -0.1rem 0 0 0;
}
.site-footer {
  background: #0c0c0c;
  color: #fff;
  padding: 2vh 0;
  font-size: 1.5vw;
}
.footer-inner {
  /* max-width: 1100px; */
  /* margin: 0 auto; */
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 28px; */
  align-items: start;
}
.footer-links a {
  display: block;
  color: #fff;
  opacity: 0.92;
  margin: 1vh 0;
}
.footer-contact {
  margin: 2rem 0 0 0 ;
}
.footer-contact p {
  margin: 0;
  line-height: 1.6;
}
.footer-contact a {
  color: #fff;
  text-decoration: underline;
}

.footer-right {
  text-align: right;
  align-self: end;
}
.socials {
  display: inline-flex;
  gap: 1vw;
}
.socials a img {
  width: 50%;
  height: 50%;
}
.socials a {
  width: 4vw;
  height: 4vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #3a3a3a;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
  /* font-size: 14px; */
}
.socials a:hover {
 filter: invert(1);
  background-color: #000;
}
.copyright {
  color: #bdbdbd;
  text-align: right;
  margin-right: 4%;
}
hr {
    /* height: 2px; */
  width: 92%;
  margin-bottom: 2rem;
}
